*{
    box-sizing:border-box;
}

body{
    overflow-x: hidden;
}

.set_channel_button{
    cursor: pointer;
}

#chat_screen{
    background-color: lightblue;
}

#messages_screen_creating{
    display: none;
}

#messages_screen_creating input{
    float: left;
}
#messages_screen_creating input[type=text]{
    display: inline-block;
    width: 60%;
    border-radius: 25px 0 0 25px;
}

#messages_screen_creating input[type=submit]{
    display: inline-block;
    width: 5%;
    border-radius: 0 25px 25px 0;
}



/*message object styling*/
.message{
    padding:3px;
}

.message p{
    padding-left: 40px;
    padding-right: 40px;
}

.message.m_right{
    text-align: right;
}

.message_name_time{
    font-size:12px;
    margin-bottom: -5px;
}

.message_text{
    font-size: 17px;
}
