*{
    box-sizing:border-box;
}

body{
    overflow: hidden;
    background-color: #333;
}

#channels_list,
#chat_side_panel{
    background-color: rgb(0, 122, 255);
    color: #fff;
    font-size:19px;
    height: 90vh;
}

.selected {
    background-color: rgb(50, 151, 255);
}

.set_channel_button:hover{
    background-color: rgb(50, 151, 255);
}

#channels_list .set_channel_button{
}

.channel_list_image{
    width:50px;
    height:50px;
    border-radius:50%;
    margin-right:10px;
}

.set_channel_button{
    cursor: pointer;
    width:105%;
    padding-left:20px;
    padding-top:15px;
    padding-bottom: 1px;
}

#chat_screen{
    height: 90vh;

}

#messages_screen{
    overflow-y: auto;
}

#messages_screen_creating{

}

#messages_screen_creating input{
    float: left;
}
#messages_screen_creating input[type=text]{
    display: inline-block;
    width:90%;
    border-radius: 25px 0 0 25px;
}

#messages_screen_creating input[type=submit]{
    display: inline-block;
    width: 10%;
    border-radius: 0 25px 25px 0;
}



/*message object styling*/
.message{
    padding:3px;
}

.message p{
    padding-left: 40px;
    padding-right: 40px;
}

.message.m_right{
    text-align: right;
}

.message_name_time{
    font-size:12px;
    margin-bottom: -5px;
}

.message_text{
    font-size: 17px;
}
